/* write CSS here */
<style>

html, body {
  font-family: Verdana, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
  }
 
p {
  font-size: 10px;
  text-align: left;
 }

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
h2, h3 {
  font-family: "Open Sans", sans-serif;
  }

div#header {
  background-color: royalblue;
  color: white;
  padding: 0px;
  text-shadow: #333 0px 0px 10px;
  border-style: outset;
  border-color: lightblue;
  border-width: 5px;
  }

div#header h1 {
  margin-block-end: 0px;
  }

div#header h2 {
  font-family: Garamond, serif;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0px;
  }

</style>
