/* write CSS here */

<style>

body {
  font-family: Verdana, sans-serif;
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;  
  }
 
#content p {
  text-align: justified;
  text-indent: 2em;
  color: #999999;
 }

#content p::first-line {
  color: black;
}
 
#content a {
color: blue;
text-decoration: none;
}

#content a: hover {
  text_decoration: underline;
  }

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
h2, h3 {
  font-family: "Open Sans", sans-serif;
  }

div#header {
  background-color: royalblue;
  color: white;
  padding: 10px;
  text-shadow: #333 0px 0px 10px;
  border-style: outset;
  border-color: lightblue;
  border-width: 5px;
  }

div#header h1 {
  margin-block-end: 0px;
  }

div#header h2 {
  font-family: Garamond, serif;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0px;
  }
  
div#content h2 {
  border-bottom: 1px;
  border-color: #999999;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  }
  
span.rank {
  background-color: black;
  color: white;
  }
  
div#footer {
  background-color: black;
  color: white;
  }
  
div#calender ul {
  list-style-type: circle;
  }
  
div#calender ul li:nth-child(1) {
  list-style-type: disc;
  }
  
div#calender ul li:nth-child(2) {
  list-style-type: disc;
  font-weight: bold;
  }
  
div#calender a {
  color: white;
  text-decoration: none;
  }

div#footer a: hover {
  text_decoration: underline;
  }

div#footer p {
  text-align: center;
  color: yellow;
  font-style: oblique;
  }

  

</style>
