<style>

@import url(https://fonts.google.com/specimen/Raleway);
.logo, .framed, .cart, .foot {
  margin: 0px;
  background-color: white;
  font-family: "Raleway", Sans-serif;
  font-size: 1em;    
}

@import url(https://fonts.google.com/specimen/Montserrat);
h1, h2, h3, h4, h5, h6 {
  font-family:"Montserrat", sans-serif;
}

.logo h1 {
  height: 60px;
  text-align: left;
  margin-left: 5%;
  position: absolute;
  background-color: green;
}
  
.logo {
  background-color: #e4c916;
  height: 40px;
  align: right;
  display: right;
  margin: 5%;
}

.navbar {
  float: right;
  text-align: right;
  margin-right: 5px;
  }

.content {
  margin-top: 100px;
  width: 90%;
  max-width: 1400px;
  float: center;
}

.cart {
  width: 300px;
  float: right;
  backgroud-color: red;
}

.framed h1 {
  background-color: green;
  font-size: 1.2em;
  padding: 5px;
  }
  
.framed {
  border-style: solid;
  border-size: 1px;
  padding: 5px;
  font-size: 0.8em;
  }

.foot {
  height: 120px;
  border-top: 5px;
  border: solid;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: center
  }
  
  
  


</style>
